<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About us</title>
  </head>
  <body>
    <section class="about-us">
      <div class="container">
        <h2>YachtJet fleet is here to take you on the ultimate adventure</h2>
        <h3>
          From spacious decks to state-of-the-art technology, our yachts are
          designed to provide the perfect blend of luxury and functionality.
        </h3>
        <h4>
          Take a look at our selection below and choose the yacht that matches
          your needs and preferences.No matter which yacht you choose, our
          experienced crew will ensure that your journey is smooth and
          enjoyable. Book now and get ready for an unforgettable adventure on
          the high seas.
        </h4>
        <picture class="about-us-yacht">
          <source
            srcset="
              ./img/desk-yachtjet@1x.jpg 1x,
              ./img/desk-yachtjet@2x.jpg 2x
            "
            media="(min-width: 1158px)"
          />
          <source
            srcset="./img/tab-yachtjet@1x.jpg 1x, ./img/tab-yachtjet@2x.jpg 2x"
            media="(min-width: 768px)"
          />
          <source
            srcset="./img/mob-yachtjet@1x.jpg 1x, ./img/mob-yachtjet@2x.jpg 2x"
            media="(max-width: 767px)"
          />
          <img
            src="./img/mob-yachtjet@1x.jpg"
            alt="photo of the yachtjet"
            width="100%"
          />
        </picture>
      </div>
    </section>
  </body>
</html>
