<section class="advantages advantages-page">
  <div class="advantages-container">
    <h2 class="visually-hidden">Advantages</h2>

    <ol class="advantages-list">
      <li class="advantages-item">
        <p class="advantages-text-number current">01</p>
        <p class="advantages-text first">
          Swimming and water sports: try your hand at water skiing
        </p>
      </li>
      <li class="advantages-item">
        <p class="advantages-text-number current">02</p>
        <p class="advantages-text second">
          Fishing: try to catch your own dinner
        </p>
      </li>
      <li class="advantages-item">
        <p class="advantages-text-number current">03</p>
        <p class="advantages-text third">
          Sightseeing tours: take a shore or island tour, enjoy the views
          andsunsets from the water
        </p>
      </li>
      <li class="advantages-item">
        <p class="advantages-text-number current">04</p>
        <p class="advantages-text fourth">
          Rest and relaxation: read a book or listen to music while enjoying
          theoutdoor atmosphere.
        </p>
      </li>
    </ol>

    <div class="advantages-content">
      <picture>
        <source
          srcset="img/advantages-desk-1x.png, img/advantages-desk-2x.png"
          media="(min-width: 1280px)"
        />

        <source
          srcset="img/advantages-tab-1x.png, img/advantages-tab-2x.png"
          media="(min-width: 768px)"
        />

        <source
          srcset="img/advantages-mob-1x.png, img/advantages-mob-2x.png"
          media="(max-width: 375px)"
        />
        <img
          src="img/advantages-tab-1x.png"
          alt="yacht deck"
          width="704"
          class="advantages-img"
        />
      </picture>
    </div>
  </div>
</section>
