<section class="advantages">
  <div class="advantages-container">
    <h2 class="visually-hidden">Advantages</h2>
    <div class="advantages-list-wrapper">
      <ol class="advantages-list">
        <li class="advantages-item">
          <p class="advantages-text-number">01</p>
          <p class="advantages-text first current">
            Swimming and water sports: try your hand at water skiing
          </p>
        </li>
        <li class="advantages-item">
          <p class="advantages-text-number">02</p>
          <p class="advantages-text second current">
            Fishing: try to catch your own dinner
          </p>
        </li>
        <li class="advantages-item">
          <p class="advantages-text-number">03</p>
          <p class="advantages-text third current">
            Sightseeing tours: take a shore or island tour, enjoy the views
            andsunsets from the water
          </p>
        </li>
        <li class="advantages-item">
          <p class="advantages-text-number">04</p>
          <p class="advantages-text fourth current">
            Rest and relaxation: read a book or listen to music while enjoying
            theoutdoor atmosphere.
          </p>
        </li>
      </ol>
    </div>
    <div class="advantages-content">
      <picture>
        <source
          media="(min-width: 1280px)"
          srcset="img/advantages-desk-1x.jpg, img/advantages-desk-2x.jpg"
          width="432"
          height="424"
        />

        <source
          media="(min-width: 768px)"
          srcset="img/advantages-tab-1x.jpg, img/advantages-tab-2x.jpg"
          width="704"
          height="424"
        />

        <source
          media="(max-width: 375px)"
          srcset="img/advantages-mob-1x.jpg, img/advantages-mob-2x.jpg"
          width="335"
          height="424"
        />
        <img
          src="img/advantages-tab-1x.jpg"
          alt="yacht deck"
          class="advantages-img"
        />
      </picture>
    </div>
  </div>
</section>
