<footer class="footer">
  <div class="footer-container">
    <div class="footer-text-wrapper">
      <div class="footer-header">
        <a class="footer-text-logo link" href="./index.html">yachtjet</a>

        <ul class="footer-nav-list">
          <li class="footer-nav-item">
            <a class="footer-nav-link" href="#aboutus">ABOUT</a>
          </li>
          <li class="footer-nav-item">
            <a class="footer-nav-link" href="#yachts">YACHTS</a>
          </li>
          <li class="footer-nav-item">
            <a class="footer-nav-link" href="#reviews">REVIEWS</a>
          </li>
        </ul>
        <ul class="footer-list">
          <li class="footer-list-item">
            <a
              class="footer-list-link"
              href="https://www.instagram.com/goitclub/"
              target="_blank"
            >
              <svg
                class="footer-icon"
                width="19"
                height="19"
                aria-label="instagram icon"
              >
                <use href="/public/img/icons-svg.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="footer-list-item">
            <a
              class="footer-list-link"
              href="https://www.youtube.com/c/GoIT"
              target="_blank"
            >
              <svg
                class="footer-icon"
                width="19"
                height="19"
                aria-label="youtube icon"
              >
                <use href="/public/img/icons-svg.svg#icon-youtube"></use>
              </svg>
            </a>
          </li>
          <li class="footer-list-item">
            <a
              class="footer-list-link"
              href="https://www.facebook.com/goITclub/"
              target="_blank"
            >
              <svg
                class="footer-icon"
                width="19"
                height="19"
                aria-label="facebook icon"
              >
                <use href="/public/img/icons-svg.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
      <p class="footer-title">
        No matter which yacht you choose, our experienced crew will ensure that
        your journey is smooth and enjoyable.
      </p>

      <div class="footer-bottom">
        <p class="footer-text">2023. Yacht Adventures</p>
        <a href="/" class="footer-text">Privacy Policy</a>
      </div>
    </div>
  </div>
</footer>
