<header class="header">
  <div class="header-countainer">
    <p class="header-text-logo">yachtjet</p>
    <nav class="header-nav">
      <ul class="header-nav-list">
        <li class="header-nav-item">
          <a class="header-nav-link" href=""></a>
        </li>
        <li class="header-nav-item"><a class="header-nav-link" href=""></a></li>
        <li class="header-nav-item"><a class="header-nav-link" href=""></a></li>
      </ul>
    </nav>
    <ul class="header-list">
      <li class="header-list-item">
        <a
          class="header-list-link"
          href="https://www.instagram.com/goitclub/"
          target="_blank"
          ><svg class="header-icon"><use href=""></use></svg>
        </a>>
      </li>
      <li class="header-list-item">
        <a
          class="header-list-link"
          href="https://www.youtube.com/c/GoIT"
          target="_blank"
          ><svg class="header-icon"><use href=""></use></svg>
        </a>
      </li>
      <li class="header-list-item">
        <a
          class="header-list-link"
          href="https://www.facebook.com/goITclub/"
          target="_blank"
          ><svg class="header-icon"><use href=""></use></svg>
        </a>
      </li>
    </ul>
  </div>
</header>
