<section class="our-yachts-section">
  <div class="our-yachts-container" id="our-yachts">
    <h2 class="our-yachts-title">
      Choose your dream yacht and sail away into the sunset
    </h2>
    <ul class="our-yachts" id="yachts">
      <li class="our-yachts-list">
        <picture class="our-yachts-picture">
          <source
            media="(min-width: 1158px)"
            srcset="
              /img/our-yachts-desk-arrow-1x.png 1x,
              /img/our-yachts-desk-arrow-2x.png 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /img/our-yachts-tab-arrow-1x.png 1x,
              /img/our-yachts-tab-arrow-2x.png 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              /img/our-yachts-mob-arrow-1x.png 1x,
              /img/our-yachts-mob-arrow-2x.png 2x
            "
          />
          <img
            src="/public/img/our-yachts-desk-arrow-1x.png"
            alt="Arrow"
            width="345"
            height="268"
            class="our-yachts-img"
          />
        </picture>
        <table class="our-yachts-tabel">
          <thead>
            <tr class="our-yachts-name">
              <th>ARROW</th>
              <th><span>LUXURY YAHTS</span></th>
            </tr>
          </thead>
          <tbody class="our-yachts-tbody">
            <tr class="our-yachts-characteristics">
              <td>LENGTH</td>
              <td><span>48m(155ft)</span></td>
            </tr>
            <tr class="our-yachts-characteristics">
              <td>BUILDER</td>
              <td><span>Admiral</span></td>
            </tr>
            <tr class="our-yachts-characteristics">
              <td>BUILT</td>
              <td><span>2021</span></td>
            </tr>
            <tr class="our-yachts-characteristics">
              <td>GUESTS</td>
              <td><span>11 in 5 cabins</span></td>
            </tr>
            <tr class="our-yachts-characteristics">
              <td>PRICE</td>
              <td><span>€33,500,000</span></td>
            </tr>
          </tbody>
        </table>
      </li>

      <li class="our-yachts-list our-yachts-list-two">
        <picture class="our-yachts-picture">
          <source
            media="(min-width: 1158px)"
            srcset="
              /img/our-yachts-desk-benetti-oasis-1x.png 1x,
              /img/our-yachts-desk-benetti-oasis-2x.png 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /img/our-yachts-tab-benetti-oasis-1x.png  1x,
              /img/our-yachts-tab-benetti-oasis-2x.pngg 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              /img/our-yachts-mob-benetti-oasis-1x.png 1x,
              /img/our-yachts-mob-benetti-oasis-2x.png 2x
            "
          />
          <img
            src="/public/img/our-yachts-desk-benetti-oasis-1x.png"
            alt="Benetti Oasis"
            width="304"
            height="268"
            class="our-yachts-img"
          />
        </picture>
        <table class="our-yachts-tabel">
          <thead>
            <tr class="our-yachts-name">
              <th>BENETTI OASIS 40M BO122</th>
              <th><span>LUXURY YAHTS</span></th>
            </tr>
          </thead>
          <tbody class="our-yachts-tbody">
            <tr class="our-yachts-characteristics">
              <td>LENGTH</td>
              <td><span>41m (133ft)</span></td>
            </tr>
            <tr class="our-yachts-characteristics">
              <td>SHIPYARD</td>
              <td><span>Benetti</span></td>
            </tr>
            <tr class="our-yachts-characteristics">
              <td>BUILT</td>
              <td><span>2025</span></td>
            </tr>
            <tr class="our-yachts-characteristics">
              <td>GUESTS</td>
              <td><span>10 in 5 cabins</span></td>
            </tr>
            <tr class="our-yachts-characteristics">
              <td>PRICE</td>
              <td><span>€23,210,000</span></td>
            </tr>
          </tbody>
        </table>
      </li>
      <li class="our-yachts-list our-yachts-list-three">
        <picture class="our-yachts-picture">
          <source
            media="(min-width: 1158px)"
            srcset="
              /img/our-yachts-desk-belle-anna-1x.png 1x,
              /img/our-yachts-desk-belle-anna-2x.png 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /img/our-yachts-tab-belle-anna-1x.png 1x,
              /img/our-yachts-tab-belle-anna-2x.png 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              /img/our-yachts-mob-belle-anna-2x.png 1x,
              /img/our-yachts-mob-belle-anna-2x.png 2x
            "
          />
          <img
            src="/public/img/our-yachts-desk-belle-anna-1x.png"
            alt="Belle-Anna"
            width="345"
            height="268"
            class="our-yachts-img"
          />
        </picture>
        <table class="our-yachts-tabel">
          <thead>
            <tr class="our-yachts-name">
              <th>BELLE ANNA</th>
              <th><span>LUXURY YAHTS</span></th>
            </tr>
          </thead>
          <tbody class="our-yachts-tbody">
            <tr class="our-yachts-characteristics">
              <td>LENGTH</td>
              <td><span>50m(155ft)</span></td>
            </tr>
            <tr class="our-yachts-characteristics">
              <td>SHIPYARD</td>
              <td><span>ISA</span></td>
            </tr>
            <tr class="our-yachts-characteristics">
              <td>BUILT</td>
              <td><span>2012</span></td>
            </tr>
            <tr class="our-yachts-characteristics">
              <td>GUESTS</td>
              <td><span>12 in 6 cabins</span></td>
            </tr>
            <tr class="our-yachts-characteristics">
              <td>PRICE</td>
              <td><span>€21,000,000</span></td>
            </tr>
          </tbody>
        </table>
      </li>
    </ul>

    <div class="our-yachts-yakir-conteiner">
      <a href="#rentayacht" class="our-yachts-yakir"> Yacht rental </a>
    </div>
  </div>
</section>
