<section class="our-yachts-section">
  <div class="our-yachts-container">
    <h2 class="our-yachts-title">
      Choose your dream yacht and sail away into the sunset
    </h2>
    <ul class="our-yachts" id="yachts">
      <li class="our-yachts-list">
        <picture class="our-yachts-picture">
          <source
            media="(min-width: 1280px)"
            srcset="
              /img/our-yachts-desk-arrow-1x.png 1x,
              /img/our-yachts-desk-arrow-2x.png 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /img/our-yachts-tab-arrow-1x.png 1x,
              /img/our-yachts-tab-arrow-2x.png 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              /img/our-yachts-mob-arrow-1x.png 1x,
              /img/our-yachts-mob-arrow-2x.png 2x
            "
          />
          <img
            src="/public/img/our-yachts-desk-arrow-1x.png"
            alt="Arrow"
            width="377"
            height="268"
            class="our-yachts-img"
          />
        </picture>
        <div class="our-yachts-tabel">
          <p class="our-yachts-name">ARROW<span>LUXURY YAHTS</span></p>
          <div class="our-yachts-content">
            <ul class="our-yachts-characteristics">
              <li>LENGTH</li>
              <li>BUILDER</li>
              <li>BUILT</li>
              <li>GUESTS</li>
              <li>PRICE</li>
            </ul>
            <ul class="our-yachts-characteristics-span">
              <li>48m(155ft)</li>
              <li>Admiral</li>
              <li>2021</li>
              <li>11 in 5 cabins</li>
              <li>€33,500,000</li>
            </ul>
          </div>
        </div>
      </li>

      <li class="our-yachts-list our-yachts-list-two">
        <picture class="our-yachts-picture">
          <source
            media="(min-width: 1280px)"
            srcset="
              /img/our-yachts-desk-benetti-oasis-1x.png 1x,
              /img/our-yachts-desk-benetti-oasis-2x.png 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /img/our-yachts-tab-benetti-oasis-1x.png 1x,
              /img/our-yachts-tab-benetti-oasis-2x.png 2x
            "
          />

          <img
            src="/public/img/our-yachts-desk-benetti-oasis-1x.png"
            alt="Benetti Oasis"
            width="377"
            height="268"
            class="our-yachts-img"
          />
        </picture>
        <div class="our-yachts-tabel">
          <p class="our-yachts-name">
            BENETTI OASIS 40..<span>LUXURY YAHTS</span>
          </p>
          <div class="our-yachts-content">
            <ul class="our-yachts-characteristics">
              <li>LENGTH</li>
              <li>SHIPYARD</li>
              <li>BUILT</li>
              <li>GUESTS</li>
              <li>PRICE</li>
            </ul>
            <ul class="our-yachts-characteristics-span">
              <li>41m (133ft)</li>
              <li>Benetti</li>
              <li>2025</li>
              <li>10 in 5 cabins</li>
              <li>€23,210,000</li>
            </ul>
          </div>
        </div>
      </li>
      <li class="our-yachts-list our-yachts-list-three">
        <picture class="our-yachts-picture">
          <source
            media="(min-width: 1280px)"
            srcset="
              /img/our-yachts-desk-belle-anna-1x.png 1x,
              /img/our-yachts-desk-belle-anna-2x.png 2x
            "
          />
          <img
            src="/public/img/our-yachts-desk-belle-anna-1x.png"
            alt="Belle-Anna"
            width="377"
            height="268"
            class="our-yachts-img"
          />
        </picture>
        <div class="our-yachts-tabel">
          <p class="our-yachts-name">BELLE ANNA<span>LUXURY YAHTS</span></p>
          <div class="our-yachts-content">
            <ul class="our-yachts-characteristics">
              <li>LENGTH</li>
              <li>SHIPYARD</li>
              <li>BUILT</li>
              <li>GUESTS</li>
              <li>PRICE</li>
            </ul>
            <ul class="our-yachts-characteristics-span">
              <li>50m(155ft)</li>
              <li>ISA</li>
              <li>2012</li>
              <li>12 in 6 cabins</li>
              <li>€21,000,000</li>
            </ul>
          </div>
        </div>
      </li>
    </ul>
    <a href="#rentayacht" class="our-yachts-yakir"> Yacht rental </a>
  </div>
</section>
