<section class="rent" id="rentayacht">
  <div class="rent-container">
    <div class="form-text">
      <h2 class="rent-title">Rent a yacht now</h3>
      <form>
        <div class="inputs">
          <input
            type="text"
            name="user-name"
            class="user-form"
            required
            id="user-name"
            placeholder="Full Name"
          />
          <input
            type="email"
            name="user-email"
            class="user-form"
            required
            id="user-email"
            placeholder="Email"
          />
          <input
            type="tel"
            name="user-phone"
            class="user-form"
            required
            id="user-phone"
            placeholder="Phone number"
          />
          <textarea
            name="user-comment"
            id="user-comment"
            class="form-comment"
            placeholder="Comment"
          ></textarea>
        </div>
        <button type="submit" class="submit-btn-rent">Send</button>
      </form>
    </div>
    <div>
      <picture class="picture-rent">
        <source
          srcset="
            /img/rent-a-yacht-mob-1x.png 1x,
            /img/rent-a-yacht-mob-2x.png 2x
          "
          media="(max-width:767px)"
        />
        <source
          srcset="
            /img/rent-a-yacht-tab-1x.png 1x,
            /img/rent-a-yacht-tab-2x.png 2x
          "
          media="(min-width:768px)"
        />
        <source
          srcset="
            /img/rent-a-yacht-desk-1x.png 1x,
            /img/rent-a-yacht-desk-2x.png 2x
          "
          media="(min-width:1280px)"
        />
        <img
          src="/img/rent-a-yacht-desk-1x.png"
          alt="yacht rental"
          class="rent-img"
        />
      </picture>
    </div>
  </div>
</section>