<section class="rent">
  <div class="container">
    <h3 class="rent-title">Rent a yacht now</h3>
    <form>
      <div class="inputs">
        <input
          type="text"
          name="user-name"
          class="user-form"
          required
          id="user-name"
          placeholder="Full Name"
        />
        <input
          type="text"
          name="user-name"
          class="user-form"
          required
          id="user-name"
          placeholder="Email"
        />
        <input
          type="text"
          name="user-name"
          class="user-form"
          required
          id="user-name"
          placeholder="Phone number"
        />
        <textarea
          name="user-comment"
          id="user-comment"
          class="form-comment"
          placeholder="Comment"
        ></textarea>
        <button type="submit" class="submit-btn-rent">Send</button>
      </div>
    </form>
  </div>
</section>
