<section class="reviews">
  <div class="reviews-conteiner">
    <h2 class="reviews-title">
      YachtJet take pride in providing the best possible service and experience
      to our customers
    </h2>
    <p class="reviews-info">
      Our customers have enjoyed unforgettable moments on our yachts. Don't just
      take our word for it - read on to find out what they have to say about
      their journey with us.
    </p>
    <ul class="reviews-list">
      <li class="reviews-item">
        <img
          srcset="
            /img/reviews-john-wax-1x.png 1x,
            /img/reviews-john-wax-2x.png 2x
          "
          src="/public/img/reviews-john-wax-1x.png"
          alt="John Wax"
          width="56"
          height="56"
          class="reviews-img"
        />

        <p class="reviews-name">John Wax</p>
        <p class="reviews-essence">
          I rented the Lagoon 620 with my family for a week-long vacation and it
          was the best decision ever. The yacht was spacious, comfortable, and
          luxurious, and the crew took care of everything.
        </p>
      </li>

      <li class="reviews-item reviews-item-two">
        <img
          srcset="
            /img/reviews-victoria-romashenko-1x.png 1x,
            /img/reviews-victoria-romashenko-2x.png 2x
          "
          src="/public/img/reviews-victoria-romashenko-1x.png"
          alt="Victoria Romashenko"
          width="56"
          height="56"
          class="reviews-img"
        />

        <div class="reviews-info-conteiner">
          <div class="reviews-info-conteiner">
            <p class="reviews-name">Victoria Romashenko</p>
            <p class="reviews-essence">
              The Sunseeker Manhattan 66 was the perfect choice for our romantic
              getaway. The yacht was beautifully designed, with all the
              amenities we needed, and the crew was attentive and friendly.
            </p>
          </div>
        </div>
      </li>
      <li class="reviews-item reviews-item-three">
        <img
          srcset="
            /img/reviews-ihor-trachuk-1x.png 1x,
            /img/reviews-ihor-trachuk-2x.png 2x
          "
          src="/public/img/reviews-ihor-trachuk-1x.png"
          alt="Ihor Trachuk"
          width="56"
          height="56"
          class="reviews-img"
        />

        <div class="reviews-info-conteiner">
          <p class="reviews-name">Ihor Trachuk</p>
          <p class="reviews-essence">
            The Azimut 80 was the most luxurious yacht I've ever been on. The
            cabins were spacious and elegant, and the outdoor areas were perfect
            for relaxing and entertaining. Worth every penny!
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
