.about-us {
  /* background-color: darkblue; */
  background-color: #0e1823;
  padding: 100px 0;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  color: #1b414b;
  font-weight: 400;
  letter-spacing: -0.02em;
}
.container-about-us {
  max-width: 320px;
  padding: 0 16px;
  margin-left: auto;
  margin-right: auto;
}

.text-about-us {
  border-radius: 24px;
  background: #fbfbfb;

  margin: 0 auto 14px;
  padding: 20px;
}

.adventure-about-us {
  font-weight: 500;
  font-size: 28px;
  line-height: 1;
  margin-bottom: 12px;
}
.technology-about-us {
  font-size: 18px;
  line-height: 1;
  margin-bottom: 12px;
}
.selection-about-us {
  font-size: 13px;
  line-height: 1.15;
  color: #040306;
  margin-bottom: 12px;
  opacity: 0.4;
}

/* =================MEDIA-TABLET==================== */
@media screen and (min-width: 768px) {
  .container-about-us {
    max-width: 768px;
  }
  .text-about-us {
    padding: 36px 84px 20px 84px;
  }

  .adventure-about-us {
    font-size: 48px;
  }
  .small-text-about-us {
    padding: 0 207px 0 0;
  }
  .technology-about-us {
    font-size: 23px;
  }
}
/* ==================MEDIA-DESK====================== */
@media screen and (min-width: 1158px) {
  .container-about-us {
    max-width: 1158px;
  }
  .text-about-us {
    display: flex;
    justify-content: space-between;
    padding: 50px 50px 20px 50px;
  }
  .adventure-about-us {
    width: 537px;
  }
  .small-text-about-us {
    padding: 0;
    width: 354px;
  }
  .selection-about-us {
    width: 324px;
  }
}
