/* ------------------------------Mobile-advantages------------------------ */

.advantages-container {
  max-width: 375px;
  padding: 80px 20px;
  display: flex;
  flex-direction: column;
}

.advantages-list-wrapper {
  background-color: #1b414b;
  border-radius: 24px;
  padding: 80px 20px;
  margin-bottom: 20px;
}

.advantages-list {
  gap: 20px;
  display: flex;
  flex-direction: column;
}

.advantages-item {
  position: relative;
  width: calc((100% - 0) / 1);
}

.advantages-text-number {
  font-weight: 500;
  font-size: 28px;
  line-height: 1;
  letter-spacing: -0.05em;
  padding-bottom: 18px;
}

.advantages-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.02em;
  opacity: 0.8;
  padding-top: 18px;
}

.current::before {
  content: '';
  position: absolute;
  /* left: 0;
  bottom: 0; */
  background-color: rgba(251, 251, 251, 0.1);
  border-radius: 18px;
  height: 2px;
  width: 295px;
  top: 46px;
  display: block;
}

.first {
  width: 238px;
}

.second {
  width: 199px;
}

.third {
  width: 292px;
}

.fourth {
  width: 292px;
}

.advantages-img {
  border-radius: 24px;
}

/* @media screen and (max-width: 374px) {
  .advantages-text::before {
    width: 240px;
  }
}

@media screen and (max-width: 1279px) {
  .advantages-list-wrapper {
    margin-left: auto;
    margin-right: auto;
  }
} */
/* ----------------------------------------------------------------- */

/* ------------------------------Tablet-advantages------------------------ */
@media screen and (min-width: 768px) {
  .advantages-container {
    min-width: 768px;
    padding: 150px 32px;
  }

  .advantages-list-wrapper {
    padding: 90px 32px;
    margin-bottom: 32px;
  }

  .advantages-list {
    row-gap: 44px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
  }

  .advantages-item {
    position: relative;
    width: calc((100% - 32px) / 2);
  }

  .second {
    width: 216px;
  }

  .advantages-text-number {
    font-size: 32px;
  }

  .advantages-text {
    font-size: 13px;
    line-height: 1.15;
  }

  .advantages-text::before {
    width: 304px;
  }
}

/* ----------------------------------------------------------------- */

/* ------------------------------Desktop-advantages----------------------- */
@media screen and (min-width: 1280px) {
  .advantages-container {
    max-width: 1280px;
    padding: 150px 50px;
    flex-direction: row;
    gap: 32px;
  }

  .advantages-list-wrapper {
    padding: 90px 50px;
    width: 716px;
  }

  .advantages-content {
    width: 432px;
  }

  .advantages-list {
    /* row-gap: 44px;
    column-gap: 44px; */
  }

  /* .advantages-item {
    position: relative;
    width: calc((100% - 44px) / 2);
  } */

  .second {
    width: 292px;
  }

  .advantages-text::before {
    width: 280px;
  }
}
/* ----------------------------------------------------------------- */
