/* ------------------------------Mobile-advantages------------------------ */
.advantages{
  padding-bottom: 80px;
    min-width: 320px;
    max-width: 375px;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
}
.advantages-container {
  display: flex;
  flex-direction: column;

}

.advantages-list-wrapper {
  background-color: #1b414b;
  border-radius: 24px;
  padding: 80px 20px;
  margin-bottom: 20px;
}

.advantages-list {
  gap: 20px;
  display: flex;
  flex-direction: column;
}

.advantages-item {
  position: relative;
  width: calc((100% - 0) / 1);
}

.advantages-text-number {
  font-weight: 500;
  font-size: 28px;
  line-height: 1;
  letter-spacing: -0.05em;
  padding-bottom: 18px;
}

.advantages-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.02em;
  opacity: 0.8;
  padding-top: 18px;
}

.current::before {
  content: '';
  position: absolute;
  background-color: rgba(251, 251, 251, 0.1);
  border-radius: 18px;
  height: 2px;
  width: 100%;
  top: 46px;
  display: block;
}

.third,
.fourth {
  width: 100%;
}

.advantages-img {
  border-radius: 24px;
}

/* ----------------------------------------------------------------- */

/* ------------------------------Tablet-advantages------------------------ */
@media screen and (min-width: 768px) {
.advantages {
    padding-bottom: 150px;
    min-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
  
  .advantages-list-wrapper {
    padding: 90px 32px;
    margin-bottom: 32px;
  }

  .advantages-list {
    row-gap: 44px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
  }

  .advantages-item {
    width: calc((100% - 32px) / 2);
  }

  .advantages-text-number {
    font-size: 32px;
  }

  .advantages-text {
    font-size: 13px;
    line-height: 1.15;
  }

  .first {
    width: 238px;
  }

  .third,
  .fourth {
    width: 292px;
  }
}

/* ----------------------------------------------------------------- */

/* ------------------------------Desktop-advantages----------------------- */
@media screen and (min-width: 1280px) {
  .advantages {
        max-width: 1280px;
        padding-left: 50px;
        padding-right: 50px;
  }
 .advantages-container{
flex-direction: row;
  column-gap: 32px;
 }   

  .advantages-list-wrapper {
    padding: 90px 50px;
    margin-bottom: 0;
    width: 716px;
  }

  .advantages-list {
    gap: 32px;
  }

  .advantages-item {
    width: calc((100% - 44px) / 2);
  }
}

/* ----------------------------------------------------------------- */
