.footer {
  padding: 0px 10px 0;
}

.footer-container {
  display: flex;
  flex-direction: column;
  background-color: #1b414b;
  border-radius: 24px 24px 0 0;
  max-width: 355px;
  margin-left: auto;
  margin-right: auto;
}

.footer-header {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  /* padding-top: 40px;
  padding-left: 10px;
  padding-right: 10px; */
  margin-top: 40px;
  margin-left: 10px;
  margin-right: 10px;
  flex-wrap: wrap;
}

.footer-text-logo {
  /* font-family: 'Inter', sans-serif; */
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.03em;
  /* color: #fbfbfb; */
  margin-bottom: 1rem;
}

.footer-nav-item {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 66px;
  height: 40px;
  margin-inline-end: auto;
  background-color: rgba(251, 251, 251, 0.3);
  border-radius: 4px;
  /* color: #fbfbfb; */
}

.footer-nav-link:hover,
.footer-nav-link:focus {
  background-color: #fbfbfb;
  color: #1b414b;
}

.footer-nav-link {
  font-weight: 400;
  font-size: 9px;
  line-height: 1.3;
  text-transform: uppercase;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.footer-list {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.footer-list-item {
  margin-inline-end: 8px;
}

.footer-icon {
  fill: #ffffff;
  width: 24px;
  height: 24px;
}

.footer-social {
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding-top: 80px;
  padding-bottom: 40px; */
  margin-top: 80px;
  margin-bottom: 40px;
  /* margin: 0; */
}

.footer-icon:hover,
.footer-icon:focus {
  fill: rgba(251, 251, 251, 0.8);
}

.footer-container-title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 82px;
  margin-left: 38px;
  margin-right: 38px;
}

.footer-title {
  /* font-family: 'Inter', sans-serif; */
  font-weight: 400;
  font-size: 18px;
  line-height: 1;
  letter-spacing: -0.02em;
  text-align: center;
  color: #fbfbfb;
  /* padding-left: 38px;
  padding-right: 38px;
  padding-bottom: 82px; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-bottom {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  /* padding-bottom: 20px; */
  margin-bottom: 20px;
  gap: 20px;
}

.footer-text {
  /* font-family: 'Inter', sans-serif; */
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: 0.03em;
  text-align: center;
  color: rgba(251, 251, 251, 0.4);
}

/* tablet (768px) */
@media only screen and (min-width: 767px) and (max-width: 1279px) {
  .footer {
    padding: 0 16px 0;
  }

  .footer-container {
    max-width: 736px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }

  .footer-header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    /* padding: 50px 0 96px 0; */
    margin-top: 50px;
    margin-left: 48px;
    margin-right: 48px;
    margin-bottom: 96px;
  }

  .footer-nav-item {
    width: 91px;
    height: 40px;
  }

  /* .footer-social,
  .footer-top {
    padding: 0;
  } */

  .footer-social {
    margin: 0;
  }

  .footer-container-title {
    margin-bottom: 99px;
    /* margin-top: 96px; */
    margin-left: 48px;
    margin-right: 48px;
  }

  .footer-title {
    font-size: 32px;
    text-align: center;
    /* padding-left: 42px;
    padding-right: 42px;
    padding-bottom: 99px; */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .footer-bottom {
    justify-content: center;
  }

  .footer-text {
    font-size: 14px;
    margin-inline-end: 32px;
  }
}

/* desktop (1280px) */
@media only screen and (min-width: 1280px) {
  .footer {
    padding: 0px 25px 0;
  }

  .footer-container {
    max-width: 1230px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }
  .footer-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    /* padding: 50px 75px 96px 75px; */
    margin-left: 75px;
    margin-right: 75px;
    margin-top: 50px;
    margin-bottom: 96px;
  }

  .footer-nav-item {
    width: 91px;
    height: 40px;
  }

  /* .footer-social,
  .footer-top {
    padding: 0;
  } */

  .footer-social {
    margin: 0;
  }

  .footer-container-title {
    margin-bottom: 99px;
    margin-left: 268px;
    margin-right: 269px;
  }

  .footer-title {
    max-width: 693px;
    font-size: 32px;
    text-align: center;
    /* padding-left: 42px;
    padding-right: 42px;
    padding-bottom: 99px; */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .footer-bottom {
    justify-content: center;
  }

  .footer-text {
    font-size: 14px;
    margin-inline-end: 32px;
  }
}

/* desktop (1440px) */
@media only screen and (min-width: 1440px) {
  .footer {
    padding: 0px 25px 0;
  }

  .footer-container {
    max-width: 1390px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }
  .footer-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    /* padding: 50px 75px 96px 75px; */
  }

  /* .footer-social,
  .footer-top {
    padding: 0;
  } */

  .footer-container-title {
    margin-left: 346px;
    margin-right: 345px;
  }

  .footer-title {
    max-width: 693px;
    font-size: 32px;
    text-align: center;
    /* padding-left: 42px;
    padding-right: 42px;
    padding-bottom: 99px; */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .footer-bottom {
    justify-content: center;
  }

  .footer-text {
    font-size: 14px;
    margin-inline-end: 32px;
  }
}
