.header {
  position: absolute;
  top: 20px;
  left: 20px;
  right: 20px;
  z-index: 99999999999;
}

.header-countainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 335px;
  padding-left: 20px;
  padding-right: 20px;
  border: 1px solid #fbfbfb;
  border-radius: 8px;
  height: 42px;
  background: #fbfbfb;

  margin-left: auto;
  margin-right: auto;
}

.header-link-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.03em;
  color: #1b414b;
}

.header-nav {
  display: none;
}

.mobile-menu-open-btn {
  background-color: transparent;
  border: none;
  padding: 0;
  stroke-width: 2.5px;
  stroke: #1b414b;
  line-height: 0;
}

.header-list {
  display: none;
  height: 20px;
}

/* <!-------------- MOBILE MENU -----------------------------------------> */

.mobile-menu-wrapper {
  padding: 16px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999999;
  width: 100%;
  height: 100%;
  background-color: #0e1823;
  transform: translateX(100%);
  transition: transform 250ms linear;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.mobile-menu-wrapper.is-open {
  transform: translateX(0%);
}
.mobile-menu-wrapper-countainer {
  max-width: 335px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  border: 1px solid #fbfbfb;
  border-radius: 8px;
  height: 42px;
  background: #fbfbfb;
  position: relative;

  margin-left: auto;
  margin-right: auto;
}
.mobile-menu-close-btn {
  position: absolute;
  right: 20px;
  background-color: transparent;
  border: none;
  padding: 0;
  fill: #055545;
  line-height: 0;
}

.mobile-menu-navigation {
  display: flex;
  margin-top: 201px;
  justify-content: center;
}

.mobile-menu-item {
  text-align: center;
  border-radius: 8px;
  width: 91px;
  height: 40px;
  background: rgba(27, 65, 75, 0.5);
  margin-bottom: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mobile-menu-item:hover,
.mobile-menu-item:focus {
  background: #1b414b;
}
.mobile-menu-link {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.3;
  text-transform: uppercase;
  text-align: center;

  color: #fbfbfb;
}
.mobile-menu-social-list {
  display: flex;
  gap: 8px;
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translate(-50%, -50%);
}
.mobile-menu-social-icon {
  fill: #fbfbfb;
}
.mobile-menu-social-icon:hover,
.mobile-menu-social-icon:focus {
  fill: rgba(251, 251, 251, 0.8);
}

@media screen and (min-width: 320px) and (max-width: 374px) {
  .mobile-menu-close-btn {
    position: absolute;
    right: 20px;
    background-color: transparent;
    border: none;
    padding: 0;
    fill: #055545;
    line-height: 0;
  }
  .mobile-menu-wrapper-countainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    border: 1px solid #fbfbfb;
    border-radius: 8px;
    height: 42px;
    background: #fbfbfb;
  }
  .mobile-menu-navigation {
    display: flex;
    margin-top: 201px;
    justify-content: center;
  }

  .mobile-menu-item {
    text-align: center;
    border-radius: 8px;
    width: 91px;
    height: 40px;
    background: rgba(27, 65, 75, 0.5);
    margin-bottom: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .mobile-menu-item:hover,
  .mobile-menu-item:focus {
    background: #1b414b;
  }
  .mobile-menu-link {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.3;
    text-transform: uppercase;
    text-align: center;

    color: #fbfbfb;
  }
  .mobile-menu-social-list {
    display: flex;
    gap: 8px;
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .mobile-menu-social-icon {
    fill: #fbfbfb;
  }
  .mobile-menu-social-icon:hover,
  .mobile-menu-social-icon:focus {
    fill: rgba(251, 251, 251, 0.8);
  }
}

/* <!-- /MOBILE MENU --> */

/* tablet (768px) */
/* @media screen and (min-width: 768px) {
  .header-countainer {
    margin: 12px 12px 0px 12px;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    border: 1px solid #fbfbfb;
    border-radius: 8px;
    height: 42px;
    background: #fbfbfb;
  }
} */
/* <!-- /MOBILE MENU --> */

/* tablet (768px) */
/* @media screen and (min-width: 376px) and (max-width: 768px)  */
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .header-countainer {
    max-width: 704px;
    padding: 4px 28px;
  }

  .header {
    top: 32px;
    left: 32px;
    right: 32px;
  }

  .mobile-menu-open-btn {
    display: none;
  }

  .mobile-menu-wrapper {
    display: none;
  }
  .header-nav {
    display: flex;
  }
  .header-list {
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: center;
  }
  .header-list-link {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .header-link-logo {
    font-weight: 500;
    font-size: 20px;
    letter-spacing: -0.03em;
    color: #1b414b;
  }

  .header-nav-list {
    gap: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .header-nav-item {
    text-align: center;
    border-radius: 8px;
    width: 91px;
    height: 40px;
    background: rgba(27, 65, 75, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .header-nav-item:hover,
  .header-nav-item:focus {
    background: #1b414b;
  }

  .header-nav-link {
    font-weight: 400;
    font-size: 9px;
    line-height: 1.3;
    text-transform: uppercase;
    text-align: center;
    color: #fbfbfb;
  }

  .header-list {
    gap: 8px;
  }
  .header-icon {
    fill: #1b414b;
  }

  .header-icon:hover,
  .header-icon:focus {
    fill: #062730;
  }
}

/* ---------------------desktop (1280px) -------------------------------------

@media screen and (min-width: 769px) and (max-width: 1280px) {
  .header-countainer {
    margin: 12px 80px 0px 80px;
    max-width: 100%;
  }

  .header {
    top: 32px;
    left: 100px;
    right: 100px;
  }

  .mobile-menu-open-btn {
    display: none;
  }

  .mobile-menu-wrapper {
    display: none;
  }
  .header-nav {
    display: flex;
  }
  .header-list {
    display: flex;
  }
  .header-nav {
    display: flex;
  }
  .header-list {
    display: flex;
  }
  .header-link-logo {
    font-weight: 500;
    font-size: 20px;
    letter-spacing: -0.03em;
    color: #1b414b;
  }

  .header-nav-list {
    gap: 4px;
    display: flex;
  }

  .header-nav-item {
    text-align: center;
    border-radius: 8px;
    width: 91px;
    height: 40px;
    background: rgba(27, 65, 75, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .header-nav-item:hover,
  .header-nav-item:focus {
    background: #1b414b;
  }

  .header-nav-link {
    font-weight: 400;
    font-size: 9px;
    line-height: 1.3;
    text-transform: uppercase;
    text-align: center;
    color: #fbfbfb;
  }

  .header-list {
    gap: 11px;
  }
  .header-icon {
    fill: #1b414b;
  }

  .header-icon:hover,
  .header-icon:focus {
    fill: #062730;
  }
} */

/* --------------------desktop (1440px) ------------------------------*/
@media screen and (min-width: 1280px) {
  .header-countainer {
    /* margin: 12px 80px 0px 80px; */
    margin-top: 32px;
    max-width: 1080px;
    margin-left: auto;
    margin-right: auto;
  }
  .mobile-menu-open-btn {
    display: none;
  }

  .mobile-menu-wrapper {
    display: none;
  }
  .header-nav {
    display: flex;
  }
  .header-list {
    display: flex;
  }
  .header-nav {
    display: flex;
  }
  .header-link-logo {
    font-weight: 500;
    font-size: 20px;
    letter-spacing: -0.03em;
    color: #1b414b;
  }

  .header-nav-list {
    gap: 4px;
    display: flex;
  }

  .header-nav-item {
    text-align: center;
    border-radius: 8px;
    width: 91px;
    height: 40px;
    background: rgba(27, 65, 75, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .header-nav-item:hover,
  .header-nav-item:focus {
    background: #1b414b;
  }

  .header-nav-link {
    font-weight: 400;
    font-size: 9px;
    line-height: 1.3;
    text-transform: uppercase;
    text-align: center;
    color: #fbfbfb;
  }

  .header-list {
    gap: 11px;
  }
  .header-icon {
    fill: #1b414b;
    padding: 0;
    margin: 0;
  }

  .header-icon:hover,
  .header-icon:focus {
    fill: #062730;
  }
}

@media screen and (min-width: 1440px) {
  .header-countainer {
    max-width: 1240px;
  }
}
