.header {
}
.header-countainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 375px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  border: 1px solid #fbfbfb;
  border-radius: 8px;
  height: 42px;
  background: #fbfbfb;
}

.header-link-logo {
  display: flex;
  align-items: center;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.03em;
  color: #1b414b;
}
.header-nav {
  display: none;
}
.header-nav-list {
}
.header-nav-item {
}
.header-nav-link {
}
.mobile-menu-open-btn {
  background-color: transparent;
  border: none;
  padding: 0;
  stroke-width: 2.5px;
  stroke: #1b414b;
  line-height: 0;
}
.header-list {
  display: none;
}
.header-list-item {
}
.header-list-link {
}
.header-icon {
}

/* tablet (768px) */
@media only screen and (min-width: 376px) and (max-width: 768px) {
  .header-countainer {
    max-width: 768px;
  }
}

/* desktop (1280px) */
@media only screen and (min-width: 769px) and (max-width: 1280px) {
  .header-countainer {
    max-width: 1280px;
  }
}

/* desktop (1440px) */
@media only screen and (min-width: 1281px) and (max-width: 1440px) {
  .header-countainer {
    max-width: 1440px;
  }
}
