.our-yachts-container {
  width: 320px;
  padding: 40px 20px;
  margin: 0 auto;
  background-color: #0e1823;
  position: relative;
}
.our-yachts-title {
  font-weight: 500;
  font-size: 28px;
  line-height: 1;
  letter-spacing: -0.02em;
  text-align: center;
  color: #fbfbfb;
  margin-right: 8px;
  margin-left: 8px;
  margin-bottom: 40px;
}
.our-yachts {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.our-yachts-list {
  background-color: #fbfbfb;
  border-radius: 24px;
  max-width: 375px;
}
.our-yachts-picture {
  display: block;
  width: 302px;
  height: 240px;
}
.our-yachts-img {
  padding: 16px 16px 0 16px;
}
.our-yachts-tabel {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 32px;
}
.our-yachts-tbody {
  margin-top: 32px;
}
th {
  text-align: left;
}
.our-yachts-name {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #040306;
  position: relative;
  display: flex;
  justify-content: space-between;
}
.our-yachts-name:after {
  content: '';
  max-width: 272px;
  height: 0.1px;
  background-color: #040306;
  opacity: 0.4;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: -16px;
}
.our-yachts-name span {
  opacity: 0.4;
}
.our-yachts-characteristics {
  font-size: 14px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: #04030660;
  display: flex;
  justify-content: space-between;
  text-align: left;
}
.our-yachts-characteristics span {
  margin-bottom: 6px;
  color: #040306;
}
.our-yachts-yakir-conteiner {
  border: 1px solid rgba(251, 251, 251, 0.35);
  border-radius: 15px;
  width: 141px;
  height: 46px;
  margin: 40px auto;
}
.our-yachts-yakir {
  padding: 14px 30px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: #fbfbfb;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.our-yachts-list-two {
  display: none;
}
.our-yachts-list-three {
  display: none;
}

@media screen and (min-width: 768px) {
  .our-yachts-container {
    width: 768px;
    padding: 75px 32px;
  }
  .our-yachts-list-two {
    display: block;
  }
  .our-yachts {
    flex-direction: row;
    gap: 32px;
  }
  .our-yachts-title {
    width: calc((100% - 32px) / 2);
    font-size: 48px;
    margin-bottom: 75px;
  }
  .our-yachts-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: -0.04em;
    color: #1b414b;
  }
  .our-yachts-name span {
    font-size: 13px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: #040306;
  }
  .our-yachts-picture {
    width: 336px;
    height: 268px;
  }
}
