.reviews-conteiner {
  width: 320px;
  padding: 40px 20px;
  margin: 0 auto;
}
.reviews-title {
  font-weight: 500;
  font-size: 28px;
  line-height: 1;
  letter-spacing: -0.02em;
  text-align: center;
  color: #fbfbfb;
  margin-bottom: 25px;
}

.reviews-info {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.02em;
  text-align: center;
  color: #fbfbfb;
  opacity: 0.4;
  text-align: center;
  margin-bottom: 40px;
}
.reviews-list {
  max-width: 375px;
}
.reviews-item {
  border-radius: 24px;
  padding: 32px 8px;
  background-color: #fbfbfb;
  padding: 32px 8px;
}
.reviews-img {
  margin: 0 auto;
}
.reviews-item-two {
  display: none;
}
.reviews-item-three {
  display: none;
}

.reviews-name {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.1;
  letter-spacing: -0.02em;
  text-align: center;
  color: #040306;
  margin-bottom: 8px;
  margin-top: 24px;
}
.reviews-essence {
  font-size: 16px;
  line-height: 1.4;
  letter-spacing: -0.02em;
  text-align: center;
  color: rgba(4, 3, 6, 0.4);
  margin-bottom: 8px;
  padding: 0 8px;
}
@media screen and (min-width: 768px) {
  .reviews-conteiner {
    width: 768px;
    padding: 75px 32px;
  }
  .reviews-title {
    font-size: 48px;
  }
  .reviews-list {
    max-width: 768px;
  }
  .reviews-info {
    font-size: 14px;
    line-height: 1.29;
    padding: 0 66px;
    margin-bottom: 75px;
  }
  .reviews-list {
    display: flex;
    gap: 32px;
  }
  .reviews-item {
    width: calc((100% - 32px) / 2);
  }
  .reviews-item-two {
    display: block;
  }
}
@media screen and (min-width: 1280px) {
  .reviews-conteiner {
    width: 1280px;
    padding: 75px 50px;
  }
  .reviews-title {
    padding: 0 163px;
  }
  .reviews-info {
    padding: 0 305px;
  }
  .reviews-list {
    max-width: 1280px;

    gap: 26px;
  }
  .reviews-item {
    width: calc((100% - 26px) / 3);
    padding: 32px 28px;
  }
  .reviews-item-three {
    display: block;
    padding: 32px 33px;
  }
}

@media screen and (min-width: 1440px) {
  .reviews-conteiner {
    width: 1440px;
    padding: 75px 100px;
  }
  .reviews-list {
    max-width: 1440px;
    gap: 32px;
  }
  .reviews-item {
    width: calc((100% - 32px) / 3);
  }
  .reviews-title {
    padding: 0 193px;
  }
  .reviews-info {
    padding: 0 335px;
  }
  .reviews-item-three {
    padding: 32px 41px;
  }
}
